body, #headerwarp{
    min-width: 1500px !important;
}
#green19_80662{
    display: flex !important;
    justify-content: center !important;
}

    
#gNavi{
    &.gNavi{
       
        > ul{
            &:after{
                content: "";
                position: absolute;
                top: 100%;
                left: 0;    
                width: 100%;
                height: 1px;
                background-color: #ccc;                
            }
            &:before{
                content: "";
                position: absolute;
                top: 100%;
                left: 0;    
                width: 100%;
                height: 0;
                background-color: #fff;
                transition: 0.5s;
            }
            &:hover{
                &::before,
                ul{
                    height: 300px;
                }
            }
            ul{
                display: block !important;
                min-width: 150px;
                transform: translateX(0) !important;
                height:0;
                overflow: hidden;
                transition: 0.5s;             
                right: 0;
                width: 100% !important;
                position: absolute;
                left: 0;
                top: 90px;

                li{
                    display: block !important;
                    font-size: 15px !important;
                    background-color: transparent !important;
                }
            }
         > li {
            //대메뉴 li
        
            > a{
                //대메뉴
              font-family: "Paperlogy 3 Light" !important;
              &.active{
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 1px;
                    left: 50%;
                    transform: translate3d(-50%, 0, 0);
                    width: 0;
                    height: 4px;
                    background: #00A2FF;
                    width: 106px;
                   }
              }
            }
        }
     }
    }

}
