#green19_80662{
    display: flex !important;
    justify-content: center !important;
    
#gNavi{
    &.gNavi{
        > ul{
         > li {
            //대메뉴 li
            > a{
                //대메뉴
              font-family: "Paperlogy 3 Light" !important;
              &.active{
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 1px;
                    left: 50%;
                    transform: translate3d(-50%, 0, 0);
                    width: 0;
                    height: 4px;
                    background: #00A2FF;
                    width: 106px;
                   }
              }
            }
        }
     }
    }

}
}